* {
  box-sizing: border-box; /* Устанавливаем box-sizing для всех элементов, чтобы padding и border не влияли на общую ширину и высоту элемента */
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #515076;
  margin: 0;
  padding: 0;
  line-height: 18px;
}

.container {
  margin: 0 auto;
  max-width: 1110px;
  background-image: url('images/bg-1.png');
  background-repeat: no-repeat;
  background-position: 0 0;
}

.title {
  margin-top: 0;
  text-align: center; /* Центрирование текста по горизонтали */
  padding-top: 220px;
  margin-bottom: 110px;
  font-size: 70px;
  font-weight: 400;
  line-height: 78px;
}

.product-list {
  display: flex; /* Используем flexbox для расположения карточек в ряд */
  justify-content: center; /* Центрируем карточки по горизонтали */
  flex-wrap: wrap; /* Разрешаем перенос строк */
  list-style: none; /* убрали стиль списка */
  gap: 45px; /* Отступы между карточками */
  margin: 0 auto; /* Центрируем сам контейнер на странице */
  padding: 0;
}

.product-card {
  background-color: #f8f8f8;
  padding: 25px;
  width: 340px;
  box-shadow: 2px 2px 10px rgba(51, 50, 76, 0.1);
}

.product-card__description {
  font-size: 12px;
  margin-top: 15px;
  margin-bottom: 15px;
  color: #A5A3B9;
  text-transform: uppercase;
}

.product-card__name {
  font-size: 20px;
}

.product-card__composition {
  padding-left: 15px;
}

.product-card__price-box {
  display: flex;
  justify-content: space-between;
  margin-top: 25px;
  font-size: 20px;
}